SKYLAB_CMS_DB_PASSWORD=postgres
CORS_ALLOWED_ORIGINS=http://localhost:3001
ConnectionStrings__Default=Host=localhost;Port=5432;Database=skylab_cms;Username=skylab_cms;Password=postgres
ConnectionStrings__Redis=localhost:6379,defaultDatabase=0
